{% extends "base.html" %}
{% block title %}Chess{% endblock %}
{% block head %}
	{{ block.super }}
  <style>
  #games table {
    width: 400px;
   }
  #games table {
  }
  #newInvite {
    clear:both;
  }
  div {
  }
  </style>
{% endblock %}
{% block body %}
	{{ block.super }}
	<div class='sectionGroup'>
	<div id='intro' class='section ui-corner-all'>
  	<span id='title' class='pageTitle'>Chess<img src='images/red-king.png' height='30' align='top'></span>
	  <span>Welcome, {{ user.nickname }}.</span>
	  <p><a href='/prefs'><small>prefs</small></a></p>
	</div>
	<div id='games' class='section ui-corner-all' style='display: none'>
	   <span class='sectionTitle'>Games</span>
	   <center>
     <table id='gamesTable'>
     	<thead>
      <tr><th>White</th><th>Black</th><th>Moves</th><th></th></tr>
      </thead>
      <tbody>
			</tbody>
     </table>
     </center>
	</div>
  </div>
  <div class='sectionGroup'>
	<div id='newInvite' class='section ui-corner-all'>
    <span class='sectionTitle'>Start a new game</span>
	  <form method='POST'>
{% if contacts %}
		<select name='invited'>
{% for e in contacts %}
		{% for em in e.email %}
	    <option value="{{ em.address }}">{{ e.title.text }} ({{ em.address }})</option>
    {% endfor %}
{% endfor %}
		</select>
{% else %}
    <label>Email:</label><input type='text' name='invited'></input>
{% endif %}
		<input type='submit' value='Invite'></input>
{% if contacts %}
    <a href='http://www.google.com/contacts'>Manage Contacts</a>
{% endif %}    
		</form>
	</div>
	</div>
	<div class='sectionGroup'>
	<div id='invitesFrom' class='section ui-corner-all' style='display: none'>
    <span class='sectionTitle'>Pending Invites (sent)</span>
	  <form method='POST'>
	   <table>
	   	<thead>
	    <tr><th>Contact</th><th>Email</th><th>Select</th></tr>
	    </thead>
	    <tbody>
			</tbody>
	   </table>
      <input type='submit' name='submit' value='Delete'></input>
	 </form>
	</div>
  <div id='invitesTo' class='section ui-corner-all' style='display: none'>
   <span class='sectionTitle'>Pending Invites (received)</span>
   <form method='POST'>
     <table id='pendingInvitesToTable'>
       <thead>
      <tr><th>Contact</th><th>Email</th><th>Select</th></tr>
			</thead>
			<tbody>
			</tbody>
     </table>
    <input type='submit' name='submit' value='Accept'></input>
    <input type='submit' name='submit' value='Reject'></input>
   </form>
  </div>
  </div>
<script>
    var games = [];
{% for g in games %}
    games.push({key: "{{ g.key }}", whiteNick: "{{ g.whitePlayer.nickname }}", blackNick: "{{ g.blackPlayer.nickname }}", moves: {{ g.moves|length }}, myMove: "{{g.myMove}}" == "True"});
{% endfor %}
    var invitesFrom = [];

{% for i in invitesFrom %}
{% if i.toUser %}
    invitesFrom.push({key: "{{ i.key }}", toUser: {nickname: "{{ i.toUser.nickname }}", email: "{{ i.toUser.email }}"}, toEmail: "{{ i.toEmail }}"});
{% else %}
    invitesFrom.push({key: "{{ i.key }}", toEmail: "{{ i.toEmail }}"});
{% endif %}
{% endfor %}
    var invitesTo = [];
{% for i in invitesTo %}
    invitesTo.push({key: "{{ i.key }}", fromUser: {nickname: "{{ i.fromUser.nickname }}", email: "{{ i.fromUser.email }}"}});
{% endfor %}

  function setGames(games) {
	  var selector = '#games';
	  var table = $(selector + ' table');
	  $('tbody', table).empty();
	  if(games.length) {
		  var row;
		  for(var i = 0; i < games.length; i++) {
			  row = $('<tr><td>' + games[i].whiteNick + '</td><td>' + games[i].blackNick + '</td><td>' 
					  + games[i].moves + '</td><td><a href="game?id=' + games[i].key + '">' + (games[i].myMove ? 'Your move' : 'View') + '</a></td></tr>');
			  table.append(row);
		  }
		  $(selector).show();
	  } else
		  $(selector).hide();
}
  function setInvites(selector, invites, bFrom) {
	  var table = $(selector + ' table');
	  $('tbody', table).empty();
	  if(invites.length) {
		  var row, user;
		  for(var i = 0; i < invites.length; i++) {
			  if(bFrom) user = invites[i].toUser;
			  else user = invites[i].fromUser;
			  row = $('<tr><td>' + (user ? user.nickname : "Unknown") + '</td><td>' + (user ? user.email : invites[i].toEmail) + '</td><td><input type="checkbox" name="select" value="' 
					  + invites[i].key + '"></input></td></tr>');
			  table.append(row);
	  	}
		  $(selector).show();
	  } else
		  $(selector).hide(); 
  }

  setGames(games);
  setInvites('#invitesFrom', invitesFrom, true);
  setInvites('#invitesTo', invitesTo, false);

  var pollPeriod = 30000;
  
  function update() {
      $.ajax({ url: "/summaryData", context: document.body, dataType: 'json',
          success: function(data) {
          	setGames(data.games);
            setInvites('#invitesFrom', data.invitesFrom, true);
            setInvites('#invitesTo', data.invitesTo, false);
            setTimeout(update, pollPeriod);
          },
          error: function(xhr, textStatus) {
            setTimeout(update, pollPeriod);
          }
      });
  }

  setTimeout(update, pollPeriod);
</script>
{% endblock %}